<h2 class="subtitle">Search Results:<span id="user-search-term">{{first_name}}</span></h2>
<div id="users-container" class="list-group">
  <div class="card">
  <h3 class="card-header text-uppercase">{{first_name}} {{last_name}}</h3>
  <div class="card-body" id="hole-buttons">
    <a>Group: {{group.id}}</a><br>
    <a>Phone: {{phone}}</a><br>
    <a>Email: {{email}}</a><br>
    <a>Tee Time: {{group.hole.tee_time}}</a><br>
    <a>Hole: {{group.hole.number}}</a><br>
  </div>
</div>
</div>
